footer {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo similar al nav */
  color: gray; 
  padding: 0.2rem 0.4rem; /* Reduce el padding para hacerlo aún más pequeño */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra para el footer */
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center; /* Centra el texto dentro del footer */
}

footer p {
  color: gray; 
  font-weight: bold;
  font-size: 0.8rem; /* Reduce el tamaño de la fuente */
  margin: 0;
  padding: 0.3rem 0.8rem; /* Reduce el padding del párrafo */
}
