body {
  background-color: #2c3e50; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  background-color: #ecf0f1; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #2980b9;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button {
  width: 100%;
  padding: 0.7rem;
  background-color: #2980b9; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login button:hover {
  background-color: #1f6391; 
}

.register-link {
  margin-top: 0.5rem;
  color: #1f6391;
  text-decoration: none;
}

@media (max-width: 768px) {
  .login {
    width: 80%; 
    padding: 1.5rem; 
  }

  .login h1 {
    font-size: 1.8rem; 
  }

  .login input {
    padding: 0.4rem; 
  }

  .login button {
    padding: 0.6rem;
  }
}


@media (max-width: 480px) {
  .login {
    width: 100%; 
    padding: 1rem; 
  }

  .login h1 {
    font-size: 1.5rem; 
  }

  .login input {
    padding: 0.3rem; 
  }

  .login button {
    padding: 0.5rem; 
  }

  .register-link {
    font-size: 0.9rem; 
  }
}
