nav {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 0.7rem 1.5rem; /* Aumenta el padding para hacer el navbar más grande */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: gray; 
  text-decoration: none;
  font-weight: bold;
  padding: 1rem 2rem; 
  transition: color 0.3s ease, background-color 0.3s ease; /* Transición para cambiar de color */
}

nav ul li a:hover {
  color: black; 
  border-radius: 4px;
}
